

.profile-card {
    border: 3px solid #ccc;
    padding: 16px;
    border-radius: 16px;
    max-width: 300px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

h1{
    text-align: center;
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


}

.App {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
}



button {
    padding: 20px 60px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    font-size: 30px;
    
}

button:hover {
    background-color: darkgreen;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}

p{
    color: black
}
.input{
    padding: 10px;
    padding-left: 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.switchButton{
    margin-top: 20px;
    padding: 10px 30px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 20px;
}

.switchButton:hover {
    background-color: #005f73;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.switchButton:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}